@import "../config/colors";

.lead-hero {
  color: $font-color;
  padding-top: 20px;
  padding-bottom: 0;

  .lead-hero-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .lead-hero-text {
      width: 100%;
      padding: 30px 0;
    }
  }
}

.lead-hero-image {
  height: 300px;
  width: 100%;
  position: relative;

  img {
    border-radius: 4px;
    box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
    position: absolute;
  }

  #hero-image-1 {
    position: relative;
    width: 100%;
  }

  #hero-image-2 {
    display: none;
  }
  #hero-image-3 {
    display: none;
  }
}

.inner-text.center {
  text-align: center;
}

.lead-column {
  margin-top: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;

  h4 {
    text-align: center;
    font-size: 1.25rem;
    margin: 1rem 0;
  }

  .header-icon {
    align-self: center;
    height: 118px;
    width: 118px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    &#apple {
      background-image: url('/images/svg/apple.svg');
    }

    &#ribbon {
      background-image: url('/images/svg/ribbon.svg');
    }

    &#globe {
      background-image: url('/images/svg/globe-icon.svg');
    }
  }
}

#globe-image {
  display: none;
  width: 100%;
  max-width: 520px;
  height: 350px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-image: url('/images/svg/globe.svg');
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #globe-image {
    display: block;
  }
  .lead-hero-image {
    #hero-image-1 {
      position: absolute;
      display: block;
      width: 370px;
      top: -146px;
      right: 0;
      z-index: 2;
    }

    #hero-image-2 {
      display: block;
      width: 300px;
      z-index: 3;
      right: 70px;
      top: 154px;
    }
  }

  .lead-hero {
    padding-top: 75px;
    padding-bottom: 70px;
    color: $font-color;

    h1 {
      font-size: 2rem;
    }

    .lead-hero-inner {
      display: flex;
      flex-direction: row;

      .lead-hero-text {
        width: 40%;
      }

      .lead-hero-image {
        width: 60%;
        img {
          // display: none;
        }
      }
    }
  }

  #globe-image {
    height: 450px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .lead-hero {
    padding-bottom: 180px;
  }
  .lead-hero-image {
    max-width: 414px;

    #hero-image-1 {
      position: absolute;
      display: block;
      width: 370px;
      top: -96px;
      right: 0;
      z-index: 2;
    }

    #hero-image-2 {
      display: block;
      width: 300px;
      z-index: 3;
      right: 70px;
      top: 206px;
    }
  }

  .lead-column {
    padding: 0 15px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .lead-hero-image {
    max-width: inherit;

    #hero-image-1 {
      position: absolute;
      display: block;
      width: 370px;
      top: -90px;
      right: 0;
      z-index: 2;
    }

    #hero-image-2 {
      display: block;
      width: 300px;
      z-index: 3;
      right: 70px;
      top: 204px;
    }

    #hero-image-3 {
      display: block;
      height: 400px;
      top: -16px;
      left: -5px;
      z-index: 5;
    }
  }

  .lead-hero {
    h1 {
      font-size: 2.2rem;
    }

    .lead-hero-inner {
      .lead-hero-text {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 15px;
        position: relative;
        left: -24px;
      }
    }
  }
}
