@import "../config/colors";

.lead-main {
  color: $font-color;
  padding-top: 20px;
  margin-bottom: 30px;

  .lead-main-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .lead-main-text {
      width: 100%;
      padding: 30px 0;
    }
  }
}

.lead-main-image {
  width: 100%;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);

  &.shadow--stronger {
     box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.18);
  }
}

.executive-director-container {
  position: relative;

    &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
    background: linear-gradient(175deg, transparent 0%, transparent 43%, rgba($light-blue,0.3) 43%, rgba($light-blue,0.3) 100%);
  }
}

.executive-director {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  p {
    margin: 0;
  }

  h4 {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: $font-color;
  }

  img.Stephen-Beck {
    // position: absolute;
    margin-bottom: 1rem;
    // min-height: 100%;
    // min-width: 100%;
    // transform: translate(-50%, -50%);
    // left: 50%;
    max-height: 300px;
    border-radius: 50%;
    box-shadow: 0 2px 14px rgba(126,87,88,.1), 0 3px 6px rgba(0,0,0,.08);
  }
}

img.Stephen-Beck-Signature {
  display: block;
  margin: auto;
  max-width: 220px;
  opacity: 0.7;
}

.statement {
  border-top: 1px solid rgba($light-font-color, 0.25);
  margin: 0 auto -30px auto;
  max-width: 600px;
  padding: 30px 0 90px 0;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  img.Stephen-Beck-Signature {
    margin: 0;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .lead-main-image {
    margin-left: 30px;
    width: 60%;
  }
  .lead-main {
    padding-top: 75px;
    color: $font-color;

    h1 {
      font-size: 2.2rem;
      // margin-bottom: 1rem;
    }

    .lead-main-inner {
      display: flex;
      flex-direction: row;

      .lead-main-text {
        width: 40%;
      }

      .lead-main-image {
        width: 60%;
        img {
          // display: none;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .lead-main-image {
    max-width: 414px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .lead-main-image {
    max-width: 530px;
  }
  .lead-main {
    h1 {
      font-size: 2.5rem;
    }

    .lead-main-inner {
      .lead-main-text {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 15px;
      }
    }
  }
}
