$royal-blue: #482ff7;
$darker-blue: #2d6cdf;
$water-blue: #46c3db;
$yellow: #f3f169;

$font-color: #12344f;
$secondary-font-color: #19507a;
$light-font-color: #647989;
$background-color: #FFFFFF;
$background-lighter: #EBF8F5;

$secondary: #14BF96;
$secondary-darker: #17b28b;
$tertiary: #FC7753;
$tertiary-darker: #f46946;
$primary: #65b3f2;
$primary-darker: #359df2;
$primary-much-lighter: #dbefff;

$light-blue: #DBEFFF;
$yellow: #FFC400;
$darker-yellow: #ffb600;
